.App {
  text-align: center;
 }

 .nav{
 

  background-color: blue;
 }

 
.navbar li{
  color: blueviolet;
}
.img{
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}
.vj{
  color: brown;
}